<h1>Your Requests for <%= @cake.name %></h1>


<div class="notification">
  <img src='https://images.unsplash.com/photo-1564228511783-821f2f547f44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1364&q=80' class="avatar-large"/>
  <div class="notification-content">
    <p><small>Patrick D.</small></p>
    <p> My name is Patrick and am interested in acquiring a slice of <strong><%= @cake.name %></strong> .</p>
    <div class='box'>
      <p>2€</p>
    </div>
  </div>

  <div class="notification-actions">
    <a href="#">Reply <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>

<div class="notification">
  <img src='https://images.unsplash.com/photo-1525382455947-f319bc05fb35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1114&q=80' class="avatar-large" />
  <div class="notification-content">
    <p><small>Sarah H.</small></p>
    <p>My name is Sarah and am interested in acquiring a slice of <strong><%= @cake.name %></strong> .</p>
    <div class='box'>
      <p>A Smile</p>
    </div>
  </div>

  <div class="notification-actions">
    <a href="#">Reply <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>
