
<div class="container">
  <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/assets/Cake_LP.jpg');
    background-position:top;">
    <h1 class="pl-15">Are you ShaKe yet?</h1>
  </div>
  <div class="card-product pl-5">
    <span><i class="fas fa-birthday-cake"></i></span>
    <div class="card-product-infos"; onclick="location.href='#'">
      <%= link_to "Light up your day by finding a cake", cakes_path, { class: "link-styling", style: "text-decoration:none; color: rgba(102, 0, 19, 0.9);" } %>
    </div>
  </div>
   <div class="card-product pl-5">
    <span><i class="fas fa-hand-holding"></i></span>
    <div class="card-product-infos">
      <%= link_to "Light up somebody's day by offering a cake", new_cake_path(@cake), { class: "link-styling", style: "text-decoration:none; color: rgba(102, 0, 19, 0.9);" }  %>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>




<!-- <img src="https://media.giphy.com/media/He4wudo59enf2/giphy.gif" alt="">
<img src="https://media.giphy.com/media/9u8GF7MuhdvS8/giphy.gif" alt="">
<img src="https://media.giphy.com/media/c4ELil7vHpZfy/giphy.gif" alt="">
<img src="https://media.giphy.com/media/G7pWi0RtZ5n1u/giphy.gif" alt="">
<img src="https://media.giphy.com/media/13ilKVAcAp21wY/giphy.gif" alt="">
<img src="https://media.giphy.com/media/QWS2I0L6UssF2/giphy.gif" alt=""> -->
