.bottombar{
  justify-content: space-between;
  background-color: rgba(102, 0, 19, 0.7);
  backdrop-filter: blur(4px);
  position: sticky;
  bottom: 0px;
  // font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.bottombar h4{
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 18px;
}
