#cake-button {
  width: 40%;
  border-radius: 10%;
  background-color: rgb(24, 41, 21);
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


