.cake-button {
  width: 40%;
  border-radius: 10px;
  background-color: rgb(24, 41, 21);
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

  .login-button {
  margin: 10px 0px 0px 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  color: rgb(102, 0, 19);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .login-button:hover {
    background-color: rgb(255, 214, 218);
  }

.label-1{
  padding: 8px 20px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: rgb(151, 115, 144);
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.75px;
}

.label-2{
  padding: 8px 20px;
  border-radius: 10px;
  background-color: rgb(255, 214, 218);
  color: rgb(102, 0, 19);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.75px;
}

.request-button {
  width: flex;
  border: 1px solid rgb(151, 115, 144);
  border-radius: 10px;
  background-color: rgb(255, 214, 218);
  color: rgb(151, 115, 144);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
