.show-card {
  width:80%;
  padding: 10px;
}
.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-bottom: 1px solid silver;
  margin-bottom: 10px;
}

.card-product img {
  height: 70%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #660013;
}

.card-product h6 {
  font-size: 12px;
  margin: 0;
  color: #660013;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #666666;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover {
  background-color: rgb(255, 214, 218);
}

.card-icon {
  font-size: 50px;
  color: #660013;
}
