.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification:hover {
  background-color: $pink;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: grey;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: grey;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: black;
}

.notification .avatar-request {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.box {
display: inline-block;
padding: 5px;
border: 2px solid grey;
border-radius: 50px;
}
.box p {
  font-size: 10px;
}

.accepted:hover {
  background-color: rgba(0, 255, 0, 0.2);
}

.accepted {
  border-color: rgba(0, 255, 0, 0.4);
}

.declined {
border-color: rgba(255, 0, 0, 0.4);
}

.declined:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
