.form {
  margin-top: 0px;
  margin-bottom: 150px;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
  text-align: center;
  background-color: rgb(255, 214, 218);
  box-shadow: 3px 3px 3px 3px #ccc;
  padding: 30px 15px;
  border-radius: 5px;
  // border: 1px solid rgb(52, 58, 64);
}
