// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "form";
@import "bottombar";
@import "card";
@import "card_request";
@import "new_request";
@import "banner";
@import "searchbar";

.container {
  margin: 0 auto;
  display: flex;
  flex-items: center;
  flex-direction: column;
}

.page-inline-headers {
  text-align: center;
  color: rgb(102, 0, 19);
  font-size: 24px;
}

.center-everything {
  display: flex;
  flex-items: center;
}

.lp-picture {
  width: 100%;
  height: 20%;
  object-fit: cover;
}

.link-styling {
  color: rgb(102, 0, 19);
}

