.navbar{
  justify-content: space-between;
  background-color: rgba(102, 0, 19, 0.9);
  backdrop-filter: blur(4px);

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
// .navbar h1{
//   color: white;
// }
// .plus{
//   font-size: 100;
// }

.hover:hover{
  border-style: solid;
  border-width: 1px;
  border-color: #FFD6DA;
}

#icon{

  color: white;
  font-size: 50px;
  text-decoration:none;
}


#icon:hover{
  color: #FFD6DA;
}
// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }



  @media(max-width: 778px)  {
    .navbar h1{
      display: none;
    }
  }

