<div class="bottombar justify-content-between">
  <h4 style="padding-left: 15px;">Terms</h4>
  <h4> <%= link_to "My Dashboard",  dashboard_path %> </h4>
  <h4 style="padding-right: 15px;">About</h4>
</div>
