<div class="navbar justify-content-between sticky-top " >
  <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 24 24" width="40" fill = "white"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/></svg>
  <h1>Page Title</h1>

<% if user_signed_in? %>
  <p class="btn btn-outline-danger align-self-end"> <%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>
<% else %>
  </form>
  <form class="form-inline">
    <%= link_to new_user_session_path, { class: "btn btn-outline-success" } do %>
  <span class="label label-success">Login</span>
<% end %>
</form>
<% end %>
 </div>
